@model IEnumerable<XHomeInventory.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("Index", "Item", FormMethod.Post))
        {
            <div class="input-group-addon">
                <input class="form-control" placeholder="Serial Number" name="searchString"
                       type="text" value="@ViewBag.searchString" />
                <div class="input-group-addon">
                    <button class="btn btn-default" type="submit">Search</button>
                </div>

            </div>
        }
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th>Purchase Info</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Photo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SerialNo)
    </td>
    <th>
        @Html.DisplayNameFor(model => model.When)
        <br />
        @Html.DisplayNameFor(model => model.Where)
        <br />
        @Html.DisplayNameFor(model => model.Warranty)
        <br />

        @Html.DisplayNameFor(model => model.Price)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.When)
        <br />
        @Html.DisplayFor(modelItem => item.Where)
        <br />
        @Html.DisplayFor(modelItem => item.Warranty)
        <br />
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
