@model IEnumerable<XRvRentPlus.Models.Rental>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRentStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRentEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateBooked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRentStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRentEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
